<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nm.a1famlink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="1FamLink"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Splash (ONLY launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Entry Choice -->
        <activity android:name=".EntryChoiceActivity" />

        <!-- Register -->
        <activity android:name=".RegisterActivity" />

        <!-- Create Family -->
        <activity android:name=".CreateFamilyActivity" />

        <!-- Join Family -->
        <activity android:name=".JoinFamilyActivity" />

        <!-- Dashboard -->
        <activity android:name=".DashboardActivity" />

    </application>

</manifest>
